body {
    font-family: palatino;
    font-weight: 100;
    background-color: white;
}
#page-container {
    display: flex;
    height: 95vh;
    animation: fadein 5s;
    -moz-animation: fadein 5s; 
    -webkit-animation: fadein 5s; 
}
#page-container h1 {
    animation: pulsing 5s infinite;
    font-size: 36pt;
    text-align: center;
}
#h1caps {
    font-size: 40pt;
}
#image-div {
    width: 60%;
    height: 100%;
    text-align: center;
}
#image-div img {
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    top: 20%;
}
#info-div {
    width: 40%;
    animation: slidein 2s;
    z-index: 1000;
    background-color: rgba(221, 221, 221, 0.7);
    padding-left: 20px;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes slidein {
    0% {margin-left: 200px;}
    100% {margin-left: 0px;}
}

/* ---------------------------------------------------- SLIDESHOW */

#slide1 {
    min-width: 496px;
    animation: slidefade 28s infinite;
    animation-delay: -27s;
    margin-top: 80px;
}
#slide2 {
    min-width: 600px;
    animation: slidefade 28s infinite;
    animation-delay: -20s;
    margin-top: -450px;
}
#slide3 {
    min-width: 696px;
    animation: slidefade 28s infinite;
    animation-delay: -13s;
    margin-top: -650px;
}
#slide4 {
    min-width: 696px;
    animation: slidefade 28s infinite;
    animation-delay: -6s;
    margin-top: -550px;
    padding-bottom: 100px;
}
/* 
#slide5 {
    min-width: 696px;
    max-width: 700px;
    animation: slidefade 42s infinite;
    animation-delay: -13s;
    margin-top: -710px;
    padding-bottom: 200px;
    max-height: 600px;
}
#slide6 {
    min-width: 600px;
    max-width: 700px;
    animation: slidefade 42s infinite;
    animation-delay: -6s;
    margin-top: -1850px;
    padding-bottom: 400px;
}
*/

@keyframes slidefade {
    0% {opacity: 0;}
    3.33% {opacity: 1;}
    13.33% {opacity: 1;}
    16.66% {opacity: 0;}
    100% {opacity: 0;}
}

/* 
Math:
3.33 in, 10 stay, 3.33 out
*/


/*-------------------- BUTTON */

#next-button {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-size: 20px;
    font-family: palatino;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: pulsing 5000ms infinite;
    animation-delay: -2.5s;
    border: 4px solid black;
    margin-left: 40%;
}
#next-button:hover {
    color: rgb(68, 68, 68);
}